# Node modules
node_modules/

# Env files
.env

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build directories
build/
dist/

# Logs
*.log

# Google Apps Script config
appsscript.json